@media screen and (max-width: 812px){
  #section2{
    flex-direction: column;
  }

  .box{
    width:50%;
    margin-left: auto;
    margin-right: auto;
  }

  .box:last-of-type{
    margin-right: auto;
  }
}
