html,
body{
  margin:0px;
  padding:0px;
  color: black;
  font-family: monospace;
  font-size: 14px;
  max-width: 100%;
}

/*headers*/
#header{
  position:fixed;
  max-width:100%;
  top:0px;
  z-index: 10;
  background-color: white;
}

img#header-img{
  width:40%;
  height:100px;
}

#img{
  display: inline;
}

#nav-bar{
  margin-top: 25px;
  display:inline;
  width: 60%;
  float: right;
}

.nav-link{
  list-style: none;
  font-size: 16px;
  margin-right: 25px;


}

.list{
  display:flex;
  padding-left: 0px;
  float: right;
}



a {
  text-decoration: none;
  color:black;
}

/*Main*/

#main{
  position:relative;
  top:100px;
  max-width: 100%;
}

#first-section{
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  text-align: center;
}

#quote {
  font-weight: bold;
  font-size: 20px;
}

#email{
  width:70%;
  height: 20px;
}

#theemail{
  padding-bottom: 20px;
}

#submit{
  background-color: yellow;
  width:150px;
  height:30px;
  font-weight: bold;
}

.section_center{
  margin-left: auto;
  margin-right: auto;
  width:90%;
  margin-top: 50px;
}

.sec{
  display: flex;
}

.sec_left{
  display: flex;
  align-items: center;
  justify-content: center;
  height:120px;
  width:20vw;

}

.icon {
  font-size: 4em;
  color: blue;
}

.sec_right{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
}

.custom{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0px;
}

.video{
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.video1{
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#section2{
  display:flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width:70%;
  padding: 20px;
  text-align: center;

}

.box{
  border:1px solid black;
  width:calc(100% / 3);
  margin-right: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.box:last-of-type{
  margin-right: 0px;
}

.cbox{
  background-color: cyan;
  margin: 0px;
  height: 30px;
  font-weight: bold;
  text-transform:uppercase;
  font-size: 24px;
  text-align: center;
}

.price{
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.attr{
  text-align: center;
}

.button{
  background-color: yellow;
  text-align: center;
  margin-bottom: 20px;
}

#footer{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  height:80px;
}

.footer-right{
  float: right;
  padding-right: 10px
}

ul li{
  display: inline;
  list-style: none;
}
